@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --primary-color: #222831;
    --secondary-color: #393E46;
    --terciary-color: #00ADB5;
    --optional-color: #EEEEEE
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Ubuntu", sans-serif
}

.nav-bar {
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000
}

.nav-bar h1 {
    margin-right: 20px;
    color: var(--terciary-color);
    font-weight: bold;
    font-size: 3.2rem;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.nav-bar a {
    color: var(--optional-color);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: lighter;
}

.hero-sec {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(-120deg, var(--terciary-color) 50%, var(--primary-color) 50%);
    position: relative;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100%
}

.hero-text-content {
    max-width: 50%;
}

.hero-text-content p {
    font-size: 1.6rem;
    color: var(--optional-color);
    font-weight: lighter;
}

.hero-text-content h2 {
    font-size: 4.8rem;
    color: var(--terciary-color);
    font-weight: bolder;
}

.hero-text-content h3 {
    font-size: 2.4rem;
    color: var(--optional-color);
    font-weight: bold;
}

.hero-content img {
    max-width: 100%;
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, .3)
    );
}

#educacion-sec{
    background-color: var(--secondary-color);
}

.educacion-sec-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 2.4rem 0;
    gap: 1.6rem;
    margin: 0 4.8rem;
}

.educacion-sec-container li {
    display: flex;
    align-items: center;
}

.educacion-sec-container li:nth-child(2) {
    margin-left: 15%;
}

.educacion-sec-container li:nth-child(3) {
    margin-left: 25%;
}

.educacion-sec-container img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: dashed var(--terciary-color) 1rem;
    padding: 0.4rem;
}

.educacion-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0 2.4rem;
}

.educacion-text-container h3 {
    color: var(--terciary-color);
    font-size: 4.8rem;
    font-weight: bold;
}

.educacion-text-container p {
    color: var(--optional-color);
    font-size: 2.4rem;
}

.educacion-text-container p:nth-child(3){
    font-size: 1.6rem;
    font-weight: lighter;
}

#experiencia-sec{
    background-color: var(--optional-color);
}

.experiencia-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    color: var(--terciary-color);
    font-size: 2.4rem;
}

.experiencia-container


#portafolio-sec {
    background-color: #FFE6C7;
}
